.npc {
    color: rgb(98, 199, 199);
}

.npc1 {
    color:rgb(54, 192, 49);
}

.pc {
    & , & > a {
        font-weight: bold;
        color: rgb(172, 99, 240);
    }

    & > a {
        font-weight: bold;
        text-decoration-color: currentColor;
    }
}

.mora {
    color: rgb(49, 192, 178);
}

.aug {
    color: rgb(218, 144, 32);
    font-family: monospace;
}

.ad {
    border-radius: 5px;
    background-color:rgb(58, 105, 233);
    color: rgb(255,255,255);
    border: solid 2px currentColor;
    margin: 2rem 4rem;
    padding: 0.5rem 1rem;
}

.food {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: rgb(231, 89, 33);
    font-weight: bold;
}

.repair {
    color: rgb(194, 119, 119);
    font-weight: bold;
}

.club {
    color:rgb(235, 134, 248);
    font-weight: bold;
    font-family: script, serif;
}

#action-bar {
    visibility: visible;
    opacity: 1;

    &[data-hide="true"] {
        opacity: 0;
        visibility: hidden;
    }

    &[data-hide="false"] {
        transition: opacity 1s;
    }
}

.tooltip-trigger {
    color: #bbb;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 0;
    cursor: pointer;
    height: 1.5rem;
}

.tooltip-text {
    background: #ddd;
    color: #222;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
    max-width: 45vw;
    z-index:1;

    &[data-show="true"] {
        opacity: 1;
    }

    & > .arrow {
        visibility: hidden;

        &,
        &::before {
            position: absolute;
            width: 8px;
            height: 8px;
            background: inherit;
        }

        &::before {
            visibility: visible;
            content: "";
            transform: rotate(45deg);
        }
    }

    &[data-popper-placement^="top"] > .arrow {
        bottom: -4px;
    }

    &[data-popper-placement^="bottom"] > .arrow {
        top: -4px;
    }

    &[data-popper-placement^="left"] > .arrow {
        right: -4px;
    }

    &[data-popper-placement^="right"] > .arrow {
        left: -4px;
    }
}
